div.c-nav {
  position: relative;
}

.c-nav__logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(var(--spacing-xxl) * 2);
}
